html, body {
  min-height: 100vh;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  /* background-color: #1f364d; */
  /* color: #4a4a4a; */
  background-color: #243238;
  color: white;
  overflow-x: hidden;
}

p {
  margin: 1rem 0rem;
  line-height: 1.15;
}

/* Header styling */

.header {
  font-size: 1.7rem;
  padding: 2rem 4rem 2rem 4rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  padding-bottom: 5px;
  border-bottom: 0.1rem solid #F99D33;
  float: left;
}

/* Main wrappers */

.content-wrapper {
  display: flex;
  padding: 1.5rem 0rem 0rem 4rem;
  justify-content: space-between;
  min-height: 100vh;
}

.interest-wrapper {
  max-width: 27.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information-wrapper-lg {
  width: 63%;
  border-radius: 10px 0 0 0;
  box-shadow: 0 2px 50px 0 #000000;
  min-height: 100%;
}

/* Interest wrapper (left side) styling */

.main-text {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.1;
}

.sub-text {
  font-size: 0.97rem;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: #dee0eb;
}

.signup-form {
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: row;
}

form input {
  flex-grow: 2;
  border: none;
  height: 2.5rem;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1rem;
}

input::placeholder {
  color: #9B9B9B;
}

button {
  background: #D8D8D8;
  color: white;
  border: 0;
  border-radius: 0 5px 5px 0;
  min-width: 3rem;
  max-width: 3rem;
  cursor: pointer;
}

.text-label {
  font-size: 1rem;
}

.disclaimer-text {
  font-size: 0.7rem;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 1.3;
  color: #dee0eb;
}

.additional-links {
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: 0.75rem;
}

.additional-link {
  letter-spacing: 0.05px;
}

.additional-link:nth-child(2) {
  margin-left: 0.9rem;
}

/* Information wrapper (right side) styling */

.tab-row {
  display: flex;
  justify-content: flex-start;
}

.tab-header {
  width: 33.3333%;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  background-color: #2E3A3F;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.tab-header:first-of-type {
  border-radius: 10px 0 0 0;
}

.tab-header.selected {
  background-color: #243238;
  border-bottom: none;
}

.tab-header.selected > span {
  padding-bottom: 5px;
  border-bottom: 1px solid #F99D33;
}

.tab-content-wrapper {
  padding: 2rem;
  font-weight: 300;
}

.tab-content-heading {
  font-size: 1.5rem;
  padding-bottom: 1.6rem;
}

.hero-number {
  font-size: 1.8rem;
  color: #0CA591;
}

ol {
  list-style: none;
  counter-reset: my-counter;
}

ol li {
  counter-increment: my-counter;
  margin-bottom: 1rem;
}

ol li::before {
  color: #F99D33;
  content: counter(my-counter) ". ";
}

.pricing-plans {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  justify-content: space-between;
}
.plan-info-wrapper {
  background-color: #2E3A3F;
  min-height: 90%;
  width: 32%;
  height: 25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
}
.content-title {
  text-align: center;
  font-size: 1.5rem;
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #0CA591;
  margin-bottom: 1rem;
}

.tab-content-wrapper li {
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}

.information-wrapper-sm {
  display: none;
}

.no-bot-padding {
  padding-bottom: 0rem !important;
}

.price-label {
  font-size: 2rem;
  text-align: center;
  bottom: 0;
  /* position: absolute; */
}

.description-wrapper {
  background-color: #2E3A3F;
  padding: 2rem 2rem 1rem 2rem;
}

/* CSS media queries for responsive styling */
@media only screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
} 

@media only screen and (min-width: 850px) {
  html {
    font-size: 12px;
  }
} 

@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
} 

@media only screen and (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 14px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }

  .content-wrapper {
    padding: 10rem 0 0 0 !important;
  }

  /* Hamburger styling */

  .hamburger-wrapper {
    z-index: 10000;
    width: 5%;
    vertical-align: middle;
    float: left;
  }
  
  .nav-icon {
    width: 32px;
    height: 16px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .nav-icon span {
    display: block;
    position: absolute;
    height: 0.3rem;
    width: 50%;
    background: #BFC0C0;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  
  .nav-icon span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }
  
  .nav-icon span:nth-child(1), .nav-icon span:nth-child(2) {
    top: 0px;
  }
  
  .nav-icon span:nth-child(3), .nav-icon span:nth-child(4) {
    top: 8px;
  }
  
  .nav-icon span:nth-child(5), .nav-icon span:nth-child(6) {
    top: 16px;
  }
  
  .nav-icon.open span:nth-child(1),.nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-icon.open span:nth-child(2),.nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 6px;
  }
  
  .nav-icon.open span:nth-child(2) {
    left: calc(50% - 4px);
    top: 6px;
  }
  
  .nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  .nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  .nav-icon.open span:nth-child(5) {
    left: 6px;
    top: 12px;
  }
  
  .nav-icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 12px;
  }

  /* End hamburger styling */

  /* Side nav styling */

  .side-nav-links-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #2E3A3F;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10rem 4rem;
  }

  .hamburger-link {
    color: white;
    text-decoration: none;
    font-size: 2.25rem;
    margin-bottom: 4rem;
    font-weight: 300;
  }

  .hamburger-link:hover {
    cursor: pointer;
    color: grey;
  }
  
  .hamburger-link.active {
    font-style: italic;
    color: #F99D33;
  }
  
  /* End Side Nav Styling for Mobile */

  .content-wrapper {
    display: block;
    padding: 1.5rem 0 0 0;
  }

  .interest-wrapper {
    width: 100%;
    max-width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .information-wrapper-lg {
    width: 100%;
    max-width: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
    display: none;
  }

  .information-wrapper-sm {
    display: block;
    margin-top: 1.5rem;
  }

  .info-header-sm-wrapper {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    background-color: #2E3A3F;
    padding: 2rem 0.5rem;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .info-header-sm-wrapper > span {
    padding-bottom: 5px;
    border-bottom: 1px solid #F99D33;
  }

  .information-wrapper-sm > div {
    margin-bottom: 5rem;
  }

  .content-sm-wrapper {
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    box-shadow: 2px 2px 60px 0 #000000;
  }

  .signup-form {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .signup-form .text-label {
    font-size: 1.8rem;
    text-align: center;
  }

  form {
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 90%;
  }

  .disclaimer-text {
    margin: 0 auto;
    margin-top: 0.7rem;
    width: 90%;
    text-align: center;
    color: #dee0eb;
  }

  .additional-links {
    margin-top: 1.7rem;
    text-align: center;
  }
}

@media only screen and (max-width: 730px) {
  .pricing-plans {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .plan-info-wrapper {
    background-color: #2E3A3F;
    min-height: 90%;
    width: 100%;
    height: 25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.4rem;
    /* position: relative; */
  }
  .content-title {
    text-align: center;
    font-size: 2em;
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #0CA591;
    margin-bottom: 1rem;
  }
} 

@media only screen and (max-width: 650px) {
  .hamburger-wrapper {
    margin-right: 12px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
} 

@media only screen and (max-width: 400px) {
  .hamburger-wrapper {
    margin-right: 2rem;
  }
}